<div class="container">

  <h1>Idea Box</h1>

      <!-- <div class="row">
        <%#= render partial: "idea_list" %>
      </div>

      <div class="row">
        <%#= render partial: "form", locals: { action: "create", message: "Create New Idea" } %>
      </div>

      <div class="row">
        <%#= render partial: "form", locals: { action: "update", message: "Update Idea" } %>
      </div> -->

</div>
