<div class="container">

  <h1>Idea Box</h1>

    <% if current_user %>
      <div class="row">
        <%= render partial: "form", locals: { action: "create", message: "Create New Idea" } %>
      </div>

      <div class="row">
        <%= render partial: "form", locals: { action: "update", message: "Update Idea" } %>
      </div>

      <div class="row">

      </div>
    <% else %>

      <%= render partial: "account" %>

    <% end %>
</div>
